body {
  font: 400 16px/1.2 'Lato',
  sans-serif;
  color: $default;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  padding-bottom: 10px;
  position: relative;
  font-size: 35px;
  @extend %lato-700;

}

.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 253px;
  height: 3px;
  background-color: $accent;
}