$default: #102746;
$white: #ffffff;
$accent: #1b7dff;
$dark: rgba(21, 24, 36, 0.4);
$footer: #0e1d28;

%lato-400 {
  font-family: 'Lato',
    sans-serif;
  font-weight: 400;
}

%lato-700 {
  font-family: 'Lato',
    sans-serif;
  font-weight: 700;
}

%lato-900 {
  font-family: 'Lato',
    sans-serif;
  font-weight: 900;
}