$default: #102746;
$white: #ffffff;
$accent: #1b7dff;
%opensans-400 {
  font-family: 'Lato',
    sans-serif;
  font-weight: 400;
}

%opensans-700 {
  font-family: 'Lato',
    sans-serif;
  font-weight: 700;
}

%opensans-900 {
  font-family: 'Lato',
    sans-serif;
  font-weight: 900;
}